<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>
<div>
    <form method="post" action="/logout">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Выйти">
    </form>
</div>
<br>
<div>Новое сообщение</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тэг">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить</button>
    </form>
</div>
<br>
<div>Список сообщений</div>
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
</div>
{{/messages}}
<br>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Поиск">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Найти</button>
</form>
</body>
</html>